/* Core Files */
/* Lato Hairline */
@font-face {
  font-family: 'lato-hairline';
  src: url("fonts/lato_hairline.eot");
  src: url("fonts/lato_hairline.eot?#iefix") format("embedded-opentype"), url("fonts/lato_hairline.woff2") format("woff2"), url("fonts/lato_hairline.woff") format("woff"), url("fonts/lato_hairline.ttf") format("truetype"), url("fonts/lato_hairline.svg#lato_hairline") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Lato */
@font-face {
  font-family: 'lato';
  src: url("fonts/lato.eot");
  src: url("fonts/lato.eot?#iefix") format("embedded-opentype"), url("fonts/lato.woff2") format("woff2"), url("fonts/lato.woff") format("woff"), url("fonts/lato.ttf") format("truetype"), url("fonts/lato.svg#latohairline") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Lato Light */
@font-face {
  font-family: 'lato-light';
  src: url("fonts/lato-light.eot");
  src: url("fonts/lato-light.eot?#iefix") format("embedded-opentype"), url("fonts/lato-light.woff2") format("woff2"), url("fonts/lato-light.woff") format("woff"), url("fonts/lato-light.ttf") format("truetype"), url("fonts/latolight.svg#latohairline") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
  font-family: 'lato';
}

* {
  outline: none;
}

/* CropIt */
.cropit-preview {
  background-color: #f8f8f8;
  background-size: cover;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 7px;
  width: 258px;
  height: 258px;
  position: relative;
  margin: 0 auto;
}

.cropit-preview-image-container {
  cursor: move;
}

#sign_up_newletter {
  width: 100%;
  text-align: left;
}

.range {
  width: 256px !important;
  margin: 10px auto;
}

.btn-group {
  margin-bottom: 15px;
}
.btn-group .btn-primary {
  background-color: #2a2929;
  border-color: #2a2929;
  color: #efefef;
}
.btn-group .btn-primary:hover {
  background-color: #70c2f5;
  border-color: #70c2f5;
}
.btn-group .active {
  background-color: #70c2f5 !important;
  border: none !important;
}

.img-center {
  margin: auto;
}

.rated {
  color: #e58a28;
}

#upload_form_identifier, #edit_form_identifier {
  display: none;
}

.has-error .form-control {
  border-color: #D64949 !important;
}

.selected {
  text-decoration: underline !important;
}

.last-group {
  margin-bottom: 4px !important;
}

.error {
  color: #d64949;
}

.logout_button {
  background-color: #2a2929 !important;
  border: none;
  width: 100%;
  height: 75px !important;
}
.logout_button:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: #2a2929;
}

.logout_button_small {
  height: 40px !important;
}

.sign_up_form_button {
  top: 17px !important;
}

#cropit-image-input-account-settings, #cropit-image-input-upload, #cropit-image-input-edit {
  display: none;
}

#select_image {
  float: right;
  cursor: pointer;
}
#select_image:hover {
  text-decoration: underline;
}

#not_found_content {
  margin: 25px 0;
}
#not_found_content h1 {
  margin: 25px 0;
}
#not_found_content h3 {
  margin: 10px;
}
#not_found_content h4 {
  margin: 10px;
}
#not_found_content #not_found_countdown {
  display: inline-block;
}

#upload_divider, #edit_divider {
  margin: 0 0 25px 0;
}

#hidden_base64_upload, #hidden_base64_account_settings, #hidden_base64_edit {
  display: none;
}

.modal-header .close {
  margin-top: 7px !important;
}

.modal-content textarea {
  resize: vertical;
}

.modal-footer button {
  background-color: #70c2f5;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  border: none;
  top: 4px;
  position: relative;
}
.modal-footer button:hover {
  background-color: #a9f163;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.modal-footer .btn-block {
  top: 0px;
}
.modal-footer .required_note {
  float: left;
  margin: 0;
  font-family: 'lato-light';
  margin: 8px 0 0 0;
}
.modal-footer .left-no-padding {
  padding-left: 0;
}
.modal-footer .right-no-padding {
  padding-right: 0;
}

.dropdown_arrow {
  position: absolute;
  right: 5px;
  top: 32px;
  background-color: #eee;
  padding-left: 5px;
  pointer-events: none;
}

.multi_selector .main, .multi_selector .secondary {
  padding: 0;
}
.multi_selector select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-top-left-radius: 0;
  -webkit-bottom-left-radius: 0;
  -moz-top-left-radius: 0;
  -moz-bottom-left-radius: 0;
  -ms-top-left-radius: 0;
  -ms-bottom-left-radius: 0;
  -webkit-appearance: none;
  border-left: none;
  background-color: #eee;
}
.multi_selector input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-top-right-radius: 0;
  -webkit-bottom-right-radius: 0;
  -moz-top-right-radius: 0;
  -moz-bottom-right-radius: 0;
  -ms-top-right-radius: 0;
  -ms-bottom-right-radius: 0;
}

.search_modal button {
  height: 34px;
}

#header {
  width: 100%;
  height: 75px;
  background-color: #2a2929;
  color: #efefef;
}
#header #search {
  width: 100%;
  position: absolute;
  height: 75px;
  background-color: #2a2929;
  z-index: -10;
  opacity: 0;
}
#header #search #close_search {
  position: relative;
  top: 15px;
  text-align: center;
  cursor: pointer;
}
#header #search #close_search:hover {
  text-decoration: underline;
}
#header #search form input {
  height: 34px;
  border: none;
}
#header #search form button {
  width: 100px;
  height: 34 px;
  border: none;
  background-color: #70c2f5;
}
#header #search form button span {
  background-color: #70c2f5;
  color: #efefef;
}
#header #search form button:hover {
  background-color: #a9f163;
}
#header #search form button:hover span {
  background-color: #a9f163;
}
#header .last_header {
  padding-right: 0;
}
#header #collapse {
  padding-right: 0;
}
#header .navbar-default {
  background-color: transparent;
  border: none;
  height: 75px;
  z-index: 20;
}
#header .navbar-default .navbar-brand {
  height: 75px;
  line-height: 45px;
  font-size: 36px;
  padding-left: 0;
  color: #efefef;
}
#header .navbar-default button {
  border: none;
  height: 75px;
  margin: 0;
}
#header .navbar-default button span {
  background-color: #efefef;
}
#header .navbar-default button:hover {
  background-color: transparent;
}
#header #navigation {
  margin-top: auto;
}
#header #navigation a {
  height: 75px;
  line-height: 45px;
  color: #efefef;
  background-color: #2a2929;
}
#header #navigation a:hover {
  cursor: pointer;
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  #header #navigation a {
    height: 40px;
    line-height: 20px;
  }
}

#footer {
  position: relative;
  padding: 100px 0;
  background: #2a2929;
  color: #efefef;
}
#footer img {
  width: 128px;
  margin: 0 auto;
}
#footer .bot {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
}

/* Firefox */
@-moz-document url-prefix() {
  #main_section #search_container button {
    height: 41px;
  }
}
/* Mobile Safari */
@media screen and (max-device-width: 480px) {
  #main_section #search_container button {
    height: 41px;
  }
}
/* Page Specific Files */
#main_section {
  width: 100%;
  height: 334px;
  background-color: #2a2929;
  color: #efefef;
}
#main_section .navbar-default {
  background-color: transparent;
  border: none;
  height: 75px;
  z-index: 20;
}
#main_section .navbar-default .navbar-brand {
  height: 75px;
  line-height: 45px;
  font-size: 36px;
  color: #efefef;
  margin-left: 0;
  padding-left: 0;
}
#main_section .navbar-default .navlapse {
  padding-right: 0;
}
#main_section .navbar-default button {
  border: none;
  height: 75px;
  margin: 0;
}
#main_section .navbar-default button span {
  background-color: #efefef;
}
#main_section .navbar-default button:hover {
  background-color: transparent;
}
#main_section #navigation a {
  height: 75px;
  line-height: 45px;
  color: #efefef;
  background-color: #2a2929;
}
#main_section #navigation a:hover {
  cursor: pointer;
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  #main_section #navigation a {
    height: 40px;
    line-height: 20px;
  }
}
#main_section #search_container img {
  width: 128px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 76px;
}
#main_section #search_container h3 {
  margin: 0;
  font-family: 'lato-light';
  font-size: 28px;
  top: 115px;
  position: relative;
}
#main_section #search_container .pull-center {
  float: none;
  margin: 0 auto;
}
#main_section #search_container .input-group {
  position: relative;
  top: 125px;
}
#main_section #search_container .input-group input {
  background-color: #efefef;
  color: #2a2929;
  border: none;
  height: 41px;
}
#main_section #search_container .input-group button {
  width: 125px;
  height: 41px;
  background-color: #70c2f5;
  border: none;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
#main_section #search_container .input-group button span {
  color: #efefef;
  font-size: 24px;
}
#main_section #search_container .input-group button:hover {
  background-color: #a9f163;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  cursor: pointer;
}

#featured_section h1 {
  margin: 25px;
}
#featured_section h3 {
  margin: 10px 0 0 0;
  font-size: 14px;
}
#featured_section p {
  margin-bottom: 25px;
}
#featured_section a {
  color: #2a2929;
  text-decoration: none;
}
#featured_section .pull-center {
  float: none;
  margin: 0 auto;
}
#featured_section .user-link {
  color: #337ab7;
}
#featured_section .user-link:hover {
  color: #23527c;
  text-decoration: underline;
  cursor: pointer;
}

#most_viewed_section, #highest_rated_section {
  width: 100%;
  background-color: #2a2929;
  color: #efefef;
}
#most_viewed_section h1, #highest_rated_section h1 {
  margin: 25px 0;
  display: inline-block;
}
#most_viewed_section h3, #highest_rated_section h3 {
  margin: 10px 0 0 0;
  font-size: 14px;
}
#most_viewed_section p, #highest_rated_section p {
  margin-bottom: 25px;
}
#most_viewed_section a, #highest_rated_section a {
  color: #efefef;
  text-decoration: none;
}
#most_viewed_section ul, #highest_rated_section ul {
  margin: 25px 0;
}
#most_viewed_section ul .active, #highest_rated_section ul .active {
  text-decoration: underline;
}
#most_viewed_section ul .last, #highest_rated_section ul .last {
  padding-right: 0;
}
#most_viewed_section ul a, #highest_rated_section ul a {
  color: #efefef;
  background-color: transparent;
  z-index: 3;
}
#most_viewed_section ul a:hover, #highest_rated_section ul a:hover {
  cursor: pointer;
  text-decoration: underline;
}
#most_viewed_section #this_week, #most_viewed_section #most_week, #highest_rated_section #this_week, #highest_rated_section #most_week {
  display: none;
}
#most_viewed_section #this_month, #most_viewed_section #most_month, #highest_rated_section #this_month, #highest_rated_section #most_month {
  display: none;
}
#most_viewed_section #all_time, #most_viewed_section #most_time, #highest_rated_section #all_time, #highest_rated_section #most_time {
  display: none;
}
#most_viewed_section .pull-center, #highest_rated_section .pull-center {
  float: none;
  margin: 0 auto;
}
#most_viewed_section .small_view, #highest_rated_section .small_view {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 347px;
}
#most_viewed_section .small_h1, #highest_rated_section .small_h1 {
  margin-bottom: 0;
}
#most_viewed_section .margin_top, #highest_rated_section .margin_top {
  margin-bottom: 50px;
}

#highest_rated_section {
  background-color: transparent;
  color: #2a2929;
}
#highest_rated_section a {
  color: #2a2929;
}
#highest_rated_section ul a {
  color: #2a2929;
}

#results_header h1 {
  margin: 25px;
  font-family: 'lato-light';
  font-size: 24px;
}

#results_coils h1 {
  margin: 25px;
}
#results_coils h3 {
  margin: 10px 0 0 0;
  font-size: 14px;
}
#results_coils p {
  margin-top: 0;
  margin-bottom: 25px;
}
#results_coils a {
  color: #2a2929;
  text-decoration: none;
}
#results_coils .pull-center {
  float: none;
  margin: 0 auto;
}

#coil_header h1 {
  margin: 25px 0 0 0;
  font-family: 'lato-light';
  font-size: 24px;
}
#coil_header h5 {
  margin: 25px;
  font-family: 'lato-light';
}
#coil_header h6 {
  margin-bottom: 25px;
  font-family: 'lato-light';
  font-size: 14px;
}
#coil_header hr {
  margin: 0;
}
#coil_header .user {
  color: #70c2f5;
}
#coil_header button {
  background-color: transparent;
  border: none;
}
#coil_header .ratings * {
  display: inline-block;
}
#coil_header .ratings span:hover {
  opacity: .5;
}
#coil_header #coil_settings a {
  text-decoration: none;
}
#coil_header #coil_settings h4 {
  margin: 25px;
  cursor: pointer;
  display: inline-block;
}
#coil_header #coil_settings h4:hover {
  opacity: .75;
}
#coil_header #coil_settings .delete {
  color: #d64949;
}
#coil_header #coil_settings .edit {
  color: #70c2f5;
}
#coil_header #coil_settings hr {
  margin: 0;
}

.share_modal img {
  cursor: pointer;
}

.delete_modal form {
  display: inline-block;
}
.delete_modal .btn-success {
  margin-bottom: 9px;
  height: 34px;
}
.delete_modal .btn-danger {
  background-color: #d64949;
}
.delete_modal .btn-danger:hover {
  background-color: rgba(214, 73, 73, 0.66);
}

.flag_modal * {
  padding: 0;
}

#coil_image img {
  width: 256px;
  margin: 25px auto;
}
#coil_image hr {
  margin: 0;
}
#coil_image a {
  cursor: pointer;
}

#coil_details img {
  width: 200px;
  margin: 25px auto;
}
#coil_details h4 {
  margin: 0 0 25px 0;
  font-family: 'lato-light';
}
#coil_details hr {
  margin: 0;
}

#coil_wire img {
  width: 200px;
  margin: 25px auto;
}
#coil_wire h4 {
  margin: 25px 0 25px 0;
  font-family: 'lato-light';
}
#coil_wire hr {
  margin: 0;
}

#coil_description p {
  margin: 0 0 25px 0;
  word-wrap: break-word;
}
#coil_description h1 {
  margin: 25px auto;
  font-family: 'lato-light';
  font-size: 24px;
}
#coil_description hr {
  margin: 0;
}

#coil_statistics {
  font-family: 'lato-light';
}
#coil_statistics h4 {
  margin: 25px 0;
}
#coil_statistics .social_interaction h4 {
  display: inline-block;
}
#coil_statistics .social_interaction h4:hover {
  text-decoration: underline;
  cursor: pointer;
}
#coil_statistics a {
  color: black;
  text-decoration: none;
}
#coil_statistics #ratings * {
  display: inline-block;
}
#coil_statistics #ratings h4 {
  margin-right: 10px;
}
#coil_statistics #ratings .liked, #coil_statistics #ratings .disliked {
  color: #e58a28;
}
#coil_statistics #ratings button {
  background-color: transparent;
  border: none;
}
#coil_statistics #ratings button:hover {
  opacity: .5;
}
#coil_statistics #ratings span:hover {
  cursor: pointer;
}
#coil_statistics hr {
  margin: 0;
}

#coil_comment_form {
  margin-bottom: 25px;
}
#coil_comment_form .no-padding-left {
  padding-left: 0;
}
#coil_comment_form .no-padding-right {
  padding-right: 0;
}
#coil_comment_form p {
  margin: 0 0 25px 0;
}
#coil_comment_form h1 {
  margin: 25px auto;
  font-family: 'lato-light';
  font-size: 24px;
}
#coil_comment_form hr {
  margin: 25px 0 0 0;
}
#coil_comment_form textarea {
  width: 100%;
  float: right;
  margin: 0;
  height: 50px;
  resize: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-top-left-radius: 5px;
  -webkit-bottom-left-radius: 5px;
  -moz-top-left-radius: 5px;
  -moz-bottom-left-radius: 5px;
  -ms-top-left-radius: 5px;
  -ms-bottom-left-radius: 5px;
  border-right: none;
}
#coil_comment_form input[type="submit"] {
  float: left;
  margin: 0;
  height: 50px;
  border: none;
  background-color: #70c2f5;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-top-right-radius: 5px;
  -webkit-bottom-right-radius: 5px;
  -moz-top-right-radius: 5px;
  -moz-bottom-right-radius: 5px;
  -ms-top-right-radius: 5px;
  -ms-bottom-right-radius: 5px;
  color: #efefef;
  width: 125px;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
#coil_comment_form input[type="submit"]:hover {
  background-color: #a9f163;
  cursor: pointer;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
#coil_comment_form span {
  padding: 0;
  margin: 0;
  border: none;
}

#coil_comment_list {
  margin-bottom: 25px;
}
#coil_comment_list .comment_container .jumbotron {
  margin: 0 0 25px 0;
  padding: 25px;
}
#coil_comment_list .comment_container .jumbotron h6 {
  padding: 0;
  margin: 0 0 5px 0;
}
#coil_comment_list .comment_container .jumbotron p {
  font-size: 16px;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

.ratings_container {
  height: 10px;
}

#account_profile_picture {
  margin: 25px 0;
  font-family: 'lato-light';
}

#account_user_info {
  background-color: #2a2929;
  color: #efefef;
  line-height: 50px;
  font-size: 20px;
  margin-bottom: 25px;
}
#account_user_info a {
  color: #efefef;
}
#account_user_info a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#account_coils h1 {
  margin: 0 0 25px 0;
}
#account_coils h3 {
  margin: 10px 0 0 0;
  font-size: 14px;
}
#account_coils p {
  margin-top: 0;
  margin-bottom: 25px;
}
#account_coils a {
  color: #2a2929;
  text-decoration: none;
}
#account_coils .pull-center {
  float: none;
  margin: 0 auto;
}

#account_settings_newsletter_container {
  margin-bottom: 0;
}

#account_settings_form_identifier {
  display: none;
}

.about_container img {
  max-width: 256px;
  margin: 25px auto;
}
.about_container p {
  margin: 0 0 25px 0;
}
