/* Lato Hairline */
@font-face {
    font-family:'lato-hairline';
    src: url('fonts/lato_hairline.eot');
    src: url('fonts/lato_hairline.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato_hairline.woff2') format('woff2'),
         url('fonts/lato_hairline.woff') format('woff'),
         url('fonts/lato_hairline.ttf') format('truetype'),
         url('fonts/lato_hairline.svg#lato_hairline') format('svg');
    font-weight:normal;
    font-style:normal;
}

/* Lato */
@font-face {
    font-family:'lato';
    src: url('fonts/lato.eot');
    src: url('fonts/lato.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato.woff2') format('woff2'),
         url('fonts/lato.woff') format('woff'),
         url('fonts/lato.ttf') format('truetype'),
         url('fonts/lato.svg#latohairline') format('svg');
    font-weight:normal;
    font-style:normal;
}

/* Lato Light */
@font-face {
    font-family:'lato-light';
    src: url('fonts/lato-light.eot');
    src: url('fonts/lato-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-light.woff2') format('woff2'),
         url('fonts/lato-light.woff') format('woff'),
         url('fonts/lato-light.ttf') format('truetype'),
         url('fonts/latolight.svg#latohairline') format('svg');
    font-weight:normal;
    font-style:normal;
}
