body {
	background-color: $lightGrey;
	margin:0;
	padding:0;
	font-family:'lato';
}

* {
	outline:none;
}

/* CropIt */
.cropit-preview {
	background-color: #f8f8f8;
	background-size: cover;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-top: 7px;
	width: 258px;
	height: 258px;
	position:relative;
	margin:0 auto;
}

.cropit-preview-image-container {
	cursor: move;
}

#sign_up_newletter {
	width:100%;
	text-align:left;
}

.range {
	width:256px !important;
	margin:10px auto;
}

.btn-group {
	margin-bottom:15px;

	.btn-primary {
		background-color:$darkGrey;
		border-color:$darkGrey;
		color:$lightGrey;

		&:hover {
			background-color:$blue;
			border-color:$blue;
		}
	}

	.active {
		background-color:$blue !important;
		border:none !important;
	}
}

.img-center {
	margin:auto;
}

.rated {
	color:$orange;
}

#upload_form_identifier, #edit_form_identifier {
	display:none;
}

.has-error .form-control {
	border-color:#D64949 !important;
}

.selected {
	text-decoration:underline !important;
}

.last-group {
	margin-bottom:4px !important;
}

.error {
	color:$red;
}

.logout_button {
	background-color:$darkGrey !important;
	border:none;
	width:100%;
	height:75px !important;

	&:hover {
		text-decoration:underline;
		cursor:pointer;
		background-color:$darkGrey;
	}
}

.logout_button_small {
	height:40px !important;
}

.sign_up_form_button {
	top:17px !important;
}

#cropit-image-input-account-settings, #cropit-image-input-upload, #cropit-image-input-edit {
	display:none;
}

#select_image {
	float:right;
	cursor:pointer;

	&:hover {
		text-decoration:underline;
	}
}

#not_found_content {
	margin:25px 0;

	h1 {
		margin:25px 0;
	}

	h3 {
		margin:10px;
	}

	h4 {
		margin:10px;
	}

	#not_found_countdown {
		display:inline-block;
	}
}

#upload_divider, #edit_divider {
	margin:0 0 25px 0;
}

#hidden_base64_upload, #hidden_base64_account_settings, #hidden_base64_edit {
	display:none;
}

.modal-header {
	.close {
		margin-top:7px !important;
	}
}

.modal-content {
	textarea {
		resize:vertical;
	}
}

.modal-footer {
	button {
		background-color:$blue;
		@include fadeBG(200ms);
		border:none;
	    top:4px;
    	position:relative;

		&:hover {
			background-color:$green;
			@include fadeBG(200ms);
		}
	}

	.btn-block {
		top:0px;
	}

	.required_note {
		float:left;
		margin:0;
		font-family:'lato-light';
		margin:8px 0 0 0;
	}

	.left-no-padding {
		padding-left:0;
	}

	.right-no-padding {
		padding-right:0;
	}
}

.dropdown_arrow {
	position: absolute;
    right: 5px;
    top: 32px;
    background-color: #eee;
    padding-left: 5px;
    pointer-events:none;
}

.multi_selector {
	.main, .secondary {
		padding:0;
	}

	select {
		@include border-left-radius(0);
		-webkit-appearance:none;
		border-left:none;
		background-color:#eee;
	}

	input {
		@include border-right-radius(0);
	}
}

.search_modal {
	button {
		height:34px;
	}
}

#header {
	width:100%;
	height:75px;
	background-color:$darkGrey;
	color:$lightGrey;

	#search {
		width:100%;
		position:absolute;
		height:75px;
		background-color:$darkGrey;
		z-index:-10;
		opacity:0;
	
		#close_search {
		    position:relative;
    		top:15px;
    		text-align:center;
    		cursor:pointer;

    		&:hover {
    			text-decoration:underline;
    		}
		}

		form {
			input {
				height:34px;
				border:none;
			}

			button {
				width:100px;
				height:34 px;
				border:none;
				background-color:$blue;

				span {
					background-color:$blue;
					color:$lightGrey;
				}

				&:hover {
					background-color:$green;

					span {
						background-color:$green;
					}
				}
			}
		}
	}

	.last_header {
		padding-right:0;
	}

	#collapse {
		padding-right:0;
	}

	.navbar-default {
		background-color:transparent;
		border:none;
		height:75px;
		z-index:20;

		.navbar-brand {
		    height:75px;
    		line-height:45px;
    		font-size:36px;
    		padding-left:0;
    		color:$lightGrey;
		}

		button {
		    border:none;
		    height:75px;
		    margin:0;

		    span {
		    	background-color:$lightGrey;
		    }

		    &:hover {
		    	background-color:transparent;
		    }
		}
	}

	#navigation {
		margin-top:auto;

		a {
			height:75px;
    		line-height:45px;
    		color:$lightGrey;
    		background-color:$darkGrey;

    		&:hover {
				cursor:pointer;
				text-decoration:underline;
			}
		}

		@media only screen and (max-width : 768px) {
			a {
			    height:40px;
			    line-height:20px;
			}
		}
	}
}

#footer {
	position:relative;
	padding:100px 0;
	background:$darkGrey;
	color:$lightGrey;

	img {
		width:128px;
		margin:0 auto;
	}
	.bot {
	    position: absolute;
	    bottom: 10px;
	    left: 0;
	    right: 0;
	    margin: auto;
	}
}