/* Firefox */
@-moz-document url-prefix() { 
	#main_section {
		#search_container {
			button {
				height:41px;
			}
		}
	}
}

/* Mobile Safari */
@media screen and (max-device-width: 480px) {
	#main_section {
		#search_container {
			button {
				height:41px;
			}
		}
	}
}