#account_profile_picture {
	margin:25px 0;
	font-family:'lato-light';
}

#account_user_info {
	background-color:$darkGrey;
	color:$lightGrey;
	line-height:50px;
	font-size:20px;
	margin-bottom:25px;

	a {
		color:$lightGrey;

		&:hover {
			text-decoration:underline;
			cursor:pointer;
		}
	}
}

#account_coils {
	h1 {
		margin:0 0 25px 0;
	}

	h3 {
		margin:10px 0 0 0;
		font-size:14px;
	}

	p {
		margin-top:0;
		margin-bottom:25px;
	}

	a {
		color:$darkGrey;
		text-decoration:none;
	}

	.pull-center {
	    float:none;
	    margin:0 auto;
	}
}

#account_settings_newsletter_container {
	margin-bottom:0;
}

#account_settings_form_identifier {
	display:none;
}