#coil_header {
	h1 {
		margin:25px 0 0 0;
		font-family:'lato-light';
		font-size:24px;
	}

	h5 {
		margin:25px;
		font-family:'lato-light';
	}

	h6 {
		margin-bottom:25px;
		font-family:'lato-light';
		font-size:14px;
	}

	hr {
		margin:0;
	}

	.user {
		color:$blue;
	}

	button {
		background-color:transparent;
		border:none;
	}

	.ratings {

		* {
			display:inline-block;
		}

		span:hover {
			opacity:.5;
		}
	}

	#coil_settings {
		a {
			text-decoration:none;
		}

		h4 {
			margin:25px;
			cursor:pointer;
			display:inline-block;

			&:hover {
				opacity:.75;
			}
		}

		.delete {
			color:$red;
		}

		.edit {
			color:$blue;
		}

		hr {
			margin:0;
		}
	}
}

.share_modal {
	img {
		cursor:pointer;
	}
}

.delete_modal {
	form {
		display:inline-block;
	}

	.btn-success {
	    margin-bottom: 9px;
    	height: 34px;
	}

	.btn-danger {
		background-color:$red;

		&:hover {
			background-color:rgba(214, 73, 73, .66);
		}
	}
}

.flag_modal {
	* {
		padding:0;
	}
}

#coil_image {
	img {
		width:256px;
		margin:25px auto;
	}

	hr {
		margin:0;
	}

	a {
		cursor:pointer;
	}
}

#coil_details {
	img {
		width:200px;
		margin:25px auto;
	}

	h4 {
		margin:0 0 25px 0;
		font-family:'lato-light';
	}

	hr {
		margin:0;
	}
}

#coil_wire {
	img {
		width:200px;
		margin:25px auto;
	}

	h4 {
		margin:25px 0 25px 0;
		font-family:'lato-light';
	}

	hr {
		margin:0;
	}
}

#coil_description {
	p {
		margin:0 0 25px 0;
		word-wrap:break-word;
	}

	h1 {
		margin:25px auto;
		font-family:'lato-light';
		font-size:24px;
	}

	hr {
		margin:0;
	}
}

#coil_statistics {
	font-family:'lato-light';

	h4 {
		margin:25px 0;
	}

	.social_interaction {
		h4 {
			display:inline-block;

			&:hover {
				text-decoration:underline;
				cursor:pointer;
			}
		}
	}

	a {
		color:black;
		text-decoration:none;
	}

	#ratings {
		* {
			display:inline-block;
		}

		h4 {
			margin-right:10px;
		}

		.liked, .disliked {
			color:$orange;
		}

		button {
			background-color:transparent;
			border:none;

			&:hover {
				opacity:.5;
			}
		}

		span:hover {
			cursor:pointer;
		}
	}

	hr {
		margin:0;
	}
}

#coil_comment_form {
	margin-bottom:25px;

	.no-padding-left {
		padding-left:0;
	}

	.no-padding-right {
		padding-right:0;
	}

	p {
		margin:0 0 25px 0;
	}

	h1 {
		margin:25px auto;
		font-family:'lato-light';
		font-size:24px;
	}

	hr {
		margin:25px 0 0 0;
	}

	textarea {
		width:100%;
		float:right;
		margin:0;
		height:50px;
		resize:none;
		@include border-left-radius(5px);
		border-right:none;
	}

	input[type="submit"] {
		float:left;
		margin:0;
		height:50px;
		border:none;
		background-color:$blue;
		@include border-right-radius(5px);
		color:$lightGrey;
		width:125px;
		@include fadeBG(200ms);	

		&:hover {
			background-color:$green;
			cursor:pointer;
			@include fadeBG(200ms);
		}
	}

	span {
		padding:0;
		margin:0;
		border:none;
	}
}

#coil_comment_list {
	margin-bottom:25px;
	
	.comment_container {
		.jumbotron {
			margin:0 0 25px 0;
			padding:25px;

			h6 {
				padding:0;
				margin:0 0 5px 0;
			}

			p {
				font-size:16px;
				margin:0;
				padding:0;
				word-wrap:break-word
			}
		}
	}
}

.ratings_container {
	height:10px;
}