#main_section {
	width:100%;
	height:334px;
	background-color:$darkGrey;
	color:$lightGrey;

	.navbar-default {
		background-color:transparent;
		border:none;
		height:75px;
		z-index:20;

		.navbar-brand {
		    height:75px;
    		line-height:45px;
    		font-size:36px;
    		color:$lightGrey;
    		margin-left:0;
    		padding-left:0;
		}

		.navlapse {
			padding-right:0;
		}
		
		button {
		    border:none;
		    height:75px;
		    margin:0;

		    span {
		    	background-color:$lightGrey;
		    }

		    &:hover {
		    	background-color:transparent;
		    }
		}
	}

	#navigation {
		a {
			height:75px;
    		line-height:45px;
    		color:$lightGrey;
    		background-color:$darkGrey;

    		&:hover {
				cursor:pointer;
				text-decoration:underline;
			}
		}

		@media only screen and (max-width : 768px) {
			a {
			    height:40px;
			    line-height:20px;
			}
		}
	}

	#search_container {
		img {
			width:128px;
			position:absolute;
			left:0;
			right:0;
			margin:auto;
			top:76px;
		}

		h3 {
			margin:0;
			font-family:'lato-light';
			font-size:28px;
			top:115px;
			position:relative;
		}

		.pull-center {
		    float:none;
		    margin:0 auto;
		}

		.input-group {
		    position:relative;
    		top:125px;

			input {
			    background-color:$lightGrey;
			    color:$darkGrey;
   				border:none;
   				height:41px;
			}

			button {
				width:125px;
				height:41px;
				background-color:$blue;
				border:none;
				@include fadeBG(200ms);

				span {
					color:$lightGrey;
					font-size:24px;
				}

				&:hover {
					background-color:$green;
					@include fadeBG(200ms);
					cursor:pointer;
				}
			}
		}
	}
}


#featured_section {
	h1 {
		margin:25px;
	}

	h3 {
		margin:10px 0 0 0;
		font-size:14px;
	}

	p {
		margin-bottom:25px;
	}

	a {
		color:$darkGrey;
		text-decoration:none;
	}

	.pull-center {
	    float:none;
	    margin:0 auto;
	}

	.user-link {
		color:#337ab7;

		 &:hover {
		 	color:#23527c;
		 	text-decoration:underline;
		 	cursor:pointer;
		 }
	}
}

#most_viewed_section, #highest_rated_section {
	width:100%;
	background-color:$darkGrey; 
	color:$lightGrey;

	h1 {
		margin:25px 0;
		display:inline-block;
	}

	h3 {
		margin:10px 0 0 0;
		font-size:14px;
	}

	p {
		margin-bottom:25px;
	}

	a {
		color:$lightGrey;
		text-decoration:none;
	}

	ul {
		margin:25px 0;

		.active {
			text-decoration:underline;
		}

		.last {
			padding-right:0;
		}

		a {
			color:$lightGrey;
			background-color:transparent;
			z-index:3;

			&:hover {
				cursor:pointer;
				text-decoration:underline;
			}
		}
	}

	#today, #most_today {
	}

	#this_week, #most_week {
		display:none
	}

	#this_month, #most_month {
		display:none;
	}

	#all_time, #most_time {
		display:none;
	}

	.pull-center {
	    float:none;
	    margin:0 auto;
	}

	.small_view {
	    position:absolute;
	    left:0;
	    right:0;
	    margin:auto;
	    width:347px;
	}

	.small_h1 {
		margin-bottom:0;
	}

	.margin_top {
		margin-bottom:50px;
	}
}

#highest_rated_section {
	background-color:transparent;
	color:$darkGrey;

	a {
		color:$darkGrey;
	}

	ul {
		a {
			color:$darkGrey;
		}
	}
}