#results_header {
	h1 {
		margin:25px;
		font-family:'lato-light';
		font-size:24px;
	}
}

#results_coils {
	h1 {
		margin:25px;
	}

	h3 {
		margin:10px 0 0 0;
		font-size:14px;
	}

	p {
		margin-top:0;
		margin-bottom:25px;
	}

	a {
		color:$darkGrey;
		text-decoration:none;
	}

	.pull-center {
	    float:none;
	    margin:0 auto;
	}
}